<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Translator</title>
</head>
<body>
    <div id="translation-container">
        <h1 id="language-info">Your Query is being translated to your choice language: <%= data %></h1>
        <hr>
        <h2 id="original-query">Original Query: <%= query %></h2>
        <h2 id="translated-query">Translated Query: <%= translated %></h2>
        <a id="home-link" href="/">Go To Home</a>
    </div>
</body>
</html>
